
:root {
  --font-family: sans-serif;
  --primary-color: #2563eb;
  --border-radius: .5rem;
}

body {
  font-family: var(--font-family);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.people {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem auto;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: .5rem;
}

.top p {
  font-size: 1.2rem;
  font-weight: 600;
}

.people-image {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: .5rem 0;
}


article {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  padding: 1.5rem;
  text-align: center;
}

article img {
  width: 200px;
  height: 200px;
  border-radius: var(--border-radius);
  object-fit: cover;
  margin-bottom: 0.75rem;
}

article h4 {
  margin: .75rem 0;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin: .5rem 0;
}

input {
  padding: .5rem;
  width: 200px;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
}

input:focus {
  outline: none;
}

.indicator {
  display: flex;
  justify-content: center;
}

.control-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: .5rem 0;
}

.first-button, .prev-button, .next-button {
  border: none;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  color: #fff;
  padding: .5rem;
}

.first-button:focus, .prev-button:focus, .next-button:focus {
  outline: none;
}

